<app-header></app-header>
 <div class="container">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 md8">
    <h2 class="lgnh2">Update {{ name }} Account </h2>
    <form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
        <label for="email">Name:</label>
        <input required type="text" class="form-control" id="name" class="form-control" name="name"  [(ngModel)]="name"  >
      </div>
      <div class="form-group">
         <label for="email" class="control-label">Email</label>
        <input required type="email" class="form-control" id="email" class="form-control"  name="email"   [(ngModel)]="email"  >
      </div>
      <div class="form-group">
        <label for="password" class="control-label">Password</label>
        <input required type="password" class="form-control" id="password"  [(ngModel)]="password"  name="password" >
      </div>
      <input name="id" type="hidden"     [(ngModel)]="id" /> 
      <button type="submit" [disabled]="!userForm.valid" class="btn btn-primary"> Submit</button>
      <p>{{datas}}</p>
    </form>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>